<%= stylesheet_link_tag "payment", media: "all", "data-turbolinks-track": "reload" %>
<%= render "layouts/header" %>

<div class="mx-auto text-center">
  <i class="far fa fa-shopping-basket fa-2x mb-2 text-black margin_basket align_center_basket"></i>
</div>
<h2 class="text-black mb-5 align_center_basket"><%= t ".basket" %></h2>
<main>
  <div class="basket">
    <div class="basket-labels">
      <input id="checkbox-all" name="checkbox-all" type= "checkbox"/>
      <ul>
        <li class="item item-heading"><%= t ".item" %></li>
        <li class="price"><%= t ".price" %></li>
        <li class="subtotal"><%= t ".subtotal" %></li>
      </ul>
    </div>
    <%= form_tag delete_url, method: :delete do %>
      <%= render partial: "basket", collection: @bookings %>
      <%= submit_tag t(".delete"), data: { confirm: t(".confirm_dialog") }, class: "checkout-cta" %>
    <% end %>
    <div class="basket-product">
      <% if @bookings.present? %>
        <%== pagy_bootstrap_nav @pagy %>
      <% end %>
    </div>
  </div>
  <aside>
    <div class="summary">
      <div class="summary-total-items"><%= @bookings.count %> <%= t ".item_in_bag" %></div>
      <div class="summary-subtotal">
        <div class="subtotal-title"><%= t ".subtotal" %></div>
        <div class="subtotal-value final-value" id="basket-subtotal">0</div>
      </div>
      <div class="summary-promo">
        <div class="promo-title"><%= t ".promotion_price" %></div>
        <div class="promo-value final-value" id="basket-promo"></div>
      </div>
      <div class="summary-total">
        <div class="total-title"><%= t ".total_price" %></div>
        <div class="total-value final-value" id="basket-total">0</div>
      </div>
      <div class="summary-checkout">
        <%= form_tag payment_url, method: :post, :html => {:class => "form-signup"} do |f| %>
          <% @bookings.each_with_index do |booking,index| %>
            <%= hidden_field_tag "booking_id_#{index+1}", booking.id %>
            <%= hidden_field_tag "checkbox_#{index+1}", 0 %>
          <% end %>
          <%= hidden_field_tag :bill_id, @bill.id %>
          <div class="col"><button class="checkout-cta" id="submitButton" type="submit"><%= t ".payment" %></button></div>
        <% end %>
      </div>
    </div>
  </aside>
</main>

<%= render "layouts/footer" %>
