<section class="signup-section" id="signup">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5"><%= t ".forgot_password" %></h2>
          <div class="row input-group-newsletter">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>

              <div class="row">
                <%= f.label :password, t(".new_password") %><br />
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> <%= t ".minium_character" %>)</em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
              </div>

              <div class="row">
                <%= f.label :password_confirmation, t(".password_confirm") %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>

              <div class="actions">
                <%= f.submit t(".changed_password"), class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/footer" %>
